
header{
  background-color: white;
  padding: 0;
  border-bottom: 1px solid var(--second-color);
}

a{
  color: black;
  padding: 1rem 1rem;
  border-radius: .5rem;
  text-decoration: none;
  background-color: var(--second-color);
  font-size: 1.2rem;
}

a:hover{
  background-color: var(--first-color);
  color: white;
}

.container{
  display: flex;
  position: relative;
  margin: .5rem 2rem;
  justify-content: space-between;
}

.left-buttons{
  right: 0;
  position: absolute;
  display: flex;
}

.left-buttons a{
  margin-left: 1rem;
}

.menu{
  display: none;
}

.mobile-container{
  display: none;
}



@media (max-width:700px) {
  .container{
    display: none;
  }

  .mobile-container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .menu{
    display: initial;
    font-size: 2.5rem;
  }
  .menu.activate{
    transform: rotate(180deg);
  }
}
