
header{
  background-color: white;
  padding: 0;
  border-bottom: 1px solid var(--second-color);
}

a{
  color: black;
  padding: 1rem 1rem;
  border-radius: .5rem;
  text-decoration: none;
  background-color: var(--second-color);
  font-size: 1.2rem;
}

a:hover{
  background-color: var(--first-color);
  color: white;
}

.container{
  display: flex;
  position: relative;
  margin: .5rem 2rem;
  justify-content: space-between;
}

.left-buttons{
  right: 0;
  position: absolute;
  display: flex;
}

.left-buttons a{
  margin-left: 1rem;
}

.menu{
  display: none;
}

.mobile-container{
  display: none;
}


.logo-mobile{
  display: none;
}

@media (max-width:700px) {
  .container{
    display: none;
  }

  .logo-mobile{
    display: initial;
    position: absolute;
    left: 5%;
    top: .3rem;
  }


  .mobile-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;

  }
  .nav-container{
    display:none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .2s linear;
  }

  .nav-container.active{
    display:flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: .2s linear;
  }

  .nav-container a {
    border-radius: 0;
    background-color: white;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  .nav-container a:last-child{
    border: none;
  }

  .menu-container{
    position: relative;
    left: 42%;
  }
  .menu{
    display: initial;
    font-size: 3rem;
  }
  .menu.activate{
    transform: rotate(180deg);
  }
}

@media (min-width:380px) {

}
