.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 ;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.mobile-container{
  display: none;
}

.container input{
  border-radius: 10rem 0 0 10rem;
  padding: .4rem .4rem .4rem 1rem;
  font-size: 2rem;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  font-weight: 500;
}

.container button{
  border-radius: 0 10rem 10rem 0;
  padding: .4rem;
  font-size: 2rem;
  background-color: var(--second-color);
  border: none;
  opacity: .8;
  cursor: pointer;
}

div button:hover{
  background-color: var(--first-color);

}


@media (max-width:700px){

  .container{
    display: none;
  }

  .mobile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .mobile-container input{
    font-size: 2.7rem;
    padding: .5rem;
    width: 70%;
    outline: none;
    border: none;
  }

  .mobile-container button{
    font-size: 2.7rem;
    padding: .5rem;
    width: 30%;
    outline: none;
    border: none;
    background-color: var(--second-color);
  }
}


@media (max-width:530px){

  .container{
    display: none;
  }

  .mobile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .mobile-container input{
    font-size: 2rem;
    padding: .5rem;
    width: 70%;
    outline: none;
    border: none;
  }

  .mobile-container button{
    font-size: 2rem;
    padding: .5rem;
    width: 30%;
    outline: none;
    border: none;
    background-color: var(--second-color);
  }
}



@media (max-width:400px){

  .container{
    display: none;
  }

  .mobile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .mobile-container input{
    font-size: 1.8rem;
    padding: .5rem;
    width: 70%;
    outline: none;
    border: none;
  }

  .mobile-container button{
    font-size: 1.8rem;
    padding: .5rem;
    width: 30%;
    outline: none;
    border: none;
    background-color: var(--second-color);
  }
}


@media (min-width:380px) {

}
